.container {
  width: 800px;
  height: 400px;
  background-color: antiquewhite;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.clearFit {
  width: 600px;
  height: 200px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.item {
  color: white;
  font-size: 20px;

  list-style: none;
}
.item:nth-child(1) {
  background-color: lightblue;
}
.item:nth-child(2) {
  background-color: lightcoral;
  font-size: 15px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
}
