@import url("./cssFolder.css/category_button.css");
@import url("./cssFolder.css/section.css");
@import url("./cssFolder.css/desc.css");
@import url("./cssFolder.css/shippingmessage.css");
@import url("./cssFolder.css/price.css");
@import url("./cssFolder.css/searchBar.css");
@import url("./cssFolder.css/breadcrumb.css");
@import url("./cssFolder.css/buy-cart.css");
@import url("./cssFolder.css/productImg.css");
@import url("./cssFolder.css/rewardCash.css");
@import url("./cssFolder.css/productTitle.css");
@import url("./cssFolder.css/topBar.css");
@import url("./cssFolder.css/peopleAlso.css");

* {
  margin: 0px;
}

.top-bar {
  width: 100%;
  height: 32px;
  background-color: #eeeeee;
}

.container {
  width: 1024px;
  margin: auto;
  height: 150vh;
  overflow: hidden;
}

.header {
  width: 980px;
  height: 115px;
  padding: 0px 16px 0px 16px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  border-bottom: 1px solid #dddddd;
}

.down-box {
  width: 980px;
  height: 815px;
  margin: auto;
}

.main-product {
  width: 980px;
  height: 760px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "box1 box2";
}
