@import url("./cssFolder.css/category_button.css");
@import url("./cssFolder.css/section.css");
@import url("./cssFolder.css/desc.css");
@import url("./cssFolder.css/shippingmessage.css");
@import url("./cssFolder.css/price.css");
@import url("./cssFolder.css/searchBar.css");
@import url("./cssFolder.css/breadcrumb.css");

* {
  margin: 0px;
}

.top-bar {
  width: 100%;
  height: 32px;
  background-color: #eeeeee;
}

.container {
  width: 1024px;
  margin: auto;
}

.header {
  width: 980px;
  height: 115px;
  padding: 0px 16px 0px 16px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  border-bottom: 1px solid #dddddd;
}

.down-box {
  width: 980px;
  height: 815px;
  margin: auto;
}

.main-product {
  width: 980px;
  height: 760px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "box1 box2";
}

.product-image {
  grid-area: box1;
  display: flex;
  justify-content: space-between;
  padding-right: 26px;
}
.product-order {
  grid-area: box2;
  z-index: 1;
}

.product-image-big img {
  width: 410px;
  height: 410px;
}

.product-image-mini img {
  width: 50px;
  height: 50px;
  border: 2px solid #0000ee;
}

.order-top-blank {
  width: 100%;
  height: 15px;

  margin-bottom: 10px;
}

.franch-cafe {
  text-decoration: none;
  color: #346aff;
  font-size: 12px;
}

.order-title {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.product-title {
  font-size: 18px;
  width: 380px;
  display: block;
}

.review-count {
  color: #346aff;
  font-size: 12px;
  margin-left: 4px;
}

.review-star {
  font-size: 12px;
}

.button-heart {
  border-radius: 50%;

  border: 1px solid #dddddd;
  font-size: 23px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #787878;
  font-weight: 200px;
}

.button-share {
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  font-size: 23px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #787878;
  font-weight: 200px;
}

.heart-share {
  display: flex;
}

.discount-rate,
.before-price {
  font-size: 14px;
  padding-right: 4px;
}

.cash-badge {
  height: 20px;
  width: 110px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 6px;
  margin-top: 14px;
}

.cash-badge img {
  max-height: 14px;
  max-width: 14px;
  height: auto;
  width: auto;
  margin-top: 2px;
}

.cash-badge span {
  font-size: 12px;
  line-height: 16px;
  margin-left: 2px;
  color: #333;
  vertical-align: top;
  margin-top: 2.4px;
  display: inline-block;
}

.reward-cash {
  padding: 17px 0px;
  border-bottom: 1px solid #dddddd;
}

.cash-summary {
  height: 20px;
  padding-bottom: 17px;
  display: flex;
  /* position: relative; */
  align-items: center;
}

.cash-summary img {
  width: 20px;
  height: 20px;
}

.cash-summary span {
  font-size: 14px;
}

.캐시적립혜택 {
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  line-height: 18px;
  padding-left: 6px;
}

.second {
  margin-left: 4px;
}

.stick {
  color: #ccc;
  padding: 0 5px;
}

.cupay {
  height: 67px;
  border: 1px solid #dddddd;
  background-color: #fafafa;
  padding: 15px;
}

.cupay p {
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 14px;
  color: #555;
  letter-spacing: -0.6px;
}

.cupay button {
  border: solid 1px #346aff;
  padding: 0 12px;
  height: 36px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  color: #346aff;
}

.buy-cart {
  height: 46px;
  margin-top: 16px;
}

.buy-cart input {
  width: 81px;
  height: 40px;
  margin-right: 7px;
  padding: 0px;
}

.cart {
  width: 191px;
  height: 44px;
  border: 1px solid #346aff;
  background: transparent;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #346aff;
  margin-right: 7px;
}

.buy {
  width: 191px;
  height: 44px;
  border: 1px solid #346aff;
  background: #346aff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
